<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!--<add key="DataProvider" value="MySql.Data.MySqlClient" />
    <add key="ConnectionStringName" value="MySql_Teste" />-->
    <add key="DataProvider" value="System.Data.SqlClient" />
    <add key="ConnectionStringName" value="SqlServer_Teste" />
  </appSettings>
  <connectionStrings>
    <!--Exemplo de CS: Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=myPassword;-->
    <add name="SqlServer_Teste" connectionString="Data Source=DESKTOP-38JRI15\SQLEXPRESS;Initial Catalog=e-Agenda;Integrated Security=True"  providerName="System.Data.SqlClient" />
    <add name="MySql_Teste" connectionString="Server=localhost;Database=pizzariadb_teste;Uid=root;Pwd=P@ssw0rd;Connect Timeout=30;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>